/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/CalculadoaSwing/nbproject/private/
/CalculadoraSwing/nbproject/private/
/CalculadoraSwing/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparaçãoString/nbproject/private/
/ComparaçãoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/ApostilaJava/nbproject/private/
/ApostilaJava/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/ProgramaMedi/nbproject/private/
/ProgramaMedi/build/
/JavaApplication24/nbproject/private/
/JavaApplication24/build/
/ProgramaImpar/nbproject/private/
/ProgramaImpar/build/
/ProgramaImpar/dist/
/CondicaoVoto/nbproject/private/
/Votacao/nbproject/private/